services:
  vllm:
    image: vllm/vllm-openai:latest
    container_name: vllm
    restart: unless-stopped
    shm_size: "2gb"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    ports:
      - "8000:8000"
    volumes:
      - ../models:/models
      - ../.cache/hf:/root/.cache/huggingface
    command:
      - Qwen/Qwen2.5-14B-Instruct-AWQ
      - --served-model-name=qwen25-14b
      - --max-model-len=4096
      - --gpu-memory-utilization=0.88
      - --dtype=half
      - --enable-chunked-prefill
      - --enforce-eager
      - --host=0.0.0.0
      - --port=8000


  api:
    build:
      context: ../api
    container_name: api
    restart: unless-stopped
    environment:
      - VLLM_BASE_URL=http://vllm:8000
      - MODEL_NAME=qwen25-14b
      - MAX_ACTIVE=2
      - QUEUE_MODE=queue
      - QUEUE_MAX=100
      - QUEUE_TIMEOUT_S=120
      - REQUEST_TIMEOUT_S=300
    ports:
      - "8080:8080"
    depends_on:
      - vllm

  webui:
   image: ghcr.io/open-webui/open-webui:main
   container_name: open-webui
   restart: unless-stopped
   ports:
      - "3000:8080"
   environment:
      - OPENAI_API_BASE_URL=http://api:8080/v1
      - OPENAI_API_KEY=local
      - DEFAULT_MODEL=qwen25-14b
   depends_on:
      - api

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ../monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "9091:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ../monitoring/grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus

  dcgm-exporter:
    image: nvcr.io/nvidia/k8s/dcgm-exporter:3.2.5-3.1.8-ubuntu22.04
    container_name: dcgm-exporter
    restart: unless-stopped
    gpus: all
    cap_add:
      - SYS_ADMIN
    ports:
      - "9400:9400"
